* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html { 
    font-size: 10px;
}

body {
    font-family: 'Lato','sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-family: Montserrat;
}

.text-uppercase {
    text-transform: uppercase;
}

/*sayfanın genişliği*/
.container { 
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .2rem;
    padding-right: .2rem;
}

/*navbar*/
nav {
    width: 100%;
    background-color: rgba(46, 43, 43, 0.966);
    color: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

nav a {
    text-decoration: none;
}

#nav-links .nav-item {
    float: left;
    margin: .1rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    padding: .6rem;
    letter-spacing: .2rem;
}

.right {
    float: right;
    display:block;
}

#nav-links .nav-link:hover {
    color: rgb(48, 119, 65);
}

nav ul {
    list-style-type:none;
}

.kenarlik{
    border-width: 3px;
    border-color:linen;
    border-style: solid;
    border-radius: 2rem;
}


/*about*/
#about {
    background-color: rgb(214, 203, 203);
    color:#000;
    height: auto;
}

#about h2 {
    font-size: 4.8rem;
    float:left;
    padding-left: 50px;
    padding-bottom: 15px;
}

.left { 
    padding-right: 2rem;
    padding-left: 2rem;
}

.left .text {
    font-size: 2rem;
    text-align: left;
    padding-left: 25px;
}

hr {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.left .left2 {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 20rem;
}

.left .right2 {
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 20rem;
}

.sol {
    float:left;
}

.kenarlik{
    border-width: 3px;
    border-color:linen;
    border-style: solid;
}


/**
Sliderda kayma efektini vermek için iki tane animasyon oluşuturuyoruz.
Aynı zamanda açıklamalarında efektli gelmesi için animasyon oluşturuyoruz.
*/
@keyframes sagdanOrtaya{
    from{
        right:-640px;
        }to{
            right:0px;
            }
}

@keyframes ortadanSola{
    from{
        right:0;
        }to{
        right:640px;
        }
}

@keyframes aciklama{
    from{
        left:100%;
        }to{
            left:1em;
            }
}

@keyframes aciklamaGit{
    from{
        left:1em;
        }to{
            left:-10em;
            }
}

/*anadiv içerisindeki resimlerin üst üste gelmesi ve taşmasını engellemek için
sliderin ana görünümünü sağlıyoruz.  */

.galeri{
    width: auto;
    height: 600px;
    background-color:rgb(214, 203, 203);
}

.anaDiv{
	width:640px;
	height:427px;
	border:1px solid green;
	position:relative;
	margin:0 auto;
	overflow:hidden;
}

.slide{
	width:640px;
	height:427px;
	position:absolute;
	top:0;
	right:-640px;
}

.slide img{
	width:100%;
	height:100%;
}

.btnSag,.btnSol{
	padding:0.25em 0.5em;
    background-color:black;
	color:white;
	text-align:center;
	border:1px solid white;
	position:absolute;
	top:45%;
	opacity:0.5;
	cursor:pointer;
	font-weight:bold;
	transition:all 0.5s ease;
    font-size: 15px;
}

.btnSag:hover,.btnSol:hover{
	opacity:1;
	transform:rotate(360deg);
	border-radius:50%;
}

.btnSag{ 
    right:0.5em;
}

.btnSol{
    left:0.5em
}

.aciklama{
	width: auto;
	height:auto;
	padding:0.5em;
    background-color:rgba(31, 195, 236, 0.6);
	color:white;
	position:absolute;
	bottom:1em;
	left:100%;
    font-size: 14px;
}

.anaDiv ul{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
	height:auto;
	position:absolute;
	top:-10em;
	z-index:1;
	padding:1em;
    background-color:grey;
	transition:all 0.5s ease; 
	box-shadow:0px 5px 5px #333;
}

.anaDiv ul li{
	width:10%;
	height:7vh;
	overflow:hidden;
	display:inline-block;
	border:2px solid transparent;
	transition:all 0.5s ease;
}

.anaDiv ul li img{
	width:100%;
	height:100%;
}

.anaDiv ul li:hover{
	border-color:white;
}

.anaDiv:hover ul{
	top:0em;
}

footer {
    padding: 3px;    
    background-color: rgba(46, 43, 43, 0.966);
    color: white;
} 
    
.text{
    font-size: 20px;
    padding: 1.5rem;
} 
    
.f-div-l{
    max-width: 33.33%;
    padding: 10px;
}

.f-div-c{
    margin-left: 400px;
    max-width: 33.33%;
    padding: 10px;
}

.f-div-r{
    margin-left: 400px;
    max-width: 33.33%;
    padding: 10px;
}
    
footer a{
    color: #fff;
    text-decoration: underline;
}

footer a:hover{
    color: rgb(48, 119, 65);
    
    text-decoration: underline;
}

main{
    height: 1000px;
}
