* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html { 
    font-size: 10px;
}

body {
    font-family: 'Lato','sans-serif';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;  
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-family: Montserrat;
}

.text-uppercase {
    text-transform: uppercase;
}

/*sayfanın genişliği*/
.container { 
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .2rem;
    padding-right: .2rem;
}

/*navbar*/
nav {
    width: 100%;
    /* background-color: rgb(49, 115, 78); */
    /* background-color: rgba(197, 116, 116, 0.966); */
    background-color: rgba(46, 43, 43, 0.966);
    color: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

nav a {
    text-decoration: none;
}

#nav-links .nav-item {
    float: left;
    margin: .1rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    padding: .6rem;
    letter-spacing: .2rem;
    
}
.right {
    float: right;
    display:block;
}

#nav-links .nav-link:hover {
    color: rgb(48, 119, 65);
}

nav ul {
    list-style-type:none;
}

.kenarlik{
    border-width: 3px;
    border-color:linen;
    border-style: solid;
    border-radius: 2rem;
}


/* footer */
footer {
    padding: 3px;
    
    background-color: rgba(46, 43, 43, 0.966);
    color: white;
  } 

  .text{
      font-size: 20px;
      padding: 1.5rem;
  } 

  .f-div-l{
      max-width: 33.33%;
      padding: 10px;
  } 
  .f-div-c{
    margin-left: 400px;
    max-width: 33.33%;
    padding: 10px;
}
.f-div-r{
    margin-left: 400px;
    max-width: 33.33%;
    padding: 10px;
}

footer a{
    color: #fff;
    text-decoration: underline;
}

footer a:hover{
    color: rgb(48, 119, 65);
    
    text-decoration: underline;
}


/* section */
.media {
    display: flex;
    align-items: flex-start;
    background-color: antiquewhite;
    padding: 16px;
    height: 300px;
    border-radius: 3px;
    margin: 20px;
}

.media-object {
    width: 300px;
    height: 260px;
    margin-right: 18px;
}

.media-heading {
    margin: 0 0 8px;
}

section p{
    font-size: 15px;
}

section a{
    font-size: 15px;
    text-decoration: underline;
    padding-right: 2rem;
}

/* article */
table
{
    font-size: 20px;
}
table td{
    font-size: 15px;
}

article table{
    background-color: darkblue;
}


